<div class="container">
<br></br>
<div class="card-group">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="card">
    <%= image_tag("eugene.jpeg", :alt => "Eugene", :class => "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">Juhwan(Eugene)</h5>
      <h6>University of Washington</h6>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <font size="50"><a href="#"><i class="fa fa-dribbble"></i></a> </font>
        <font size="50"><a href="#"><i class="fa fa-twitter"></i></a> </font>
        <font size="50"><a href="#"><i class="fa fa-linkedin"></i></a> </font>
        <font size="50"><a href="#"><i class="fa fa-facebook"></i></a> </font>
    </div>
  </div>
  <div class="card">
      <%= image_tag("kangwoo", :alt => "Eugene",  :width => "370",:height => "370") %>
      <div class="card-body">
      <h5 class="card-title">Kangwoo Choi</h5>
      <h6>University of Washington</h6>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <font size="50"><a href="#"><i class="fa fa-dribbble"></i></a> </font>
        <font size="50"><a href="#"><i class="fa fa-twitter"></i></a> </font>
        <font size="50"><a href="#"><i class="fa fa-linkedin"></i></a> </font>
        <font size="50"><a href="#"><i class="fa fa-facebook"></i></a> </font>
    </div>
  </div>
  
  <div class="card">
      <%= image_tag("eugene.jpeg", :alt => "Eugene",  :class => "card-img-top") %>
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6>University of Washington</h6>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <font size="50"><a href="#"><i class="fa fa-dribbble"></i></a> </font>
        <font size="50"><a href="#"><i class="fa fa-twitter"></i></a> </font>
        <font size="50"><a href="#"><i class="fa fa-linkedin"></i></a> </font>
        <font size="50"><a href="#"><i class="fa fa-facebook"></i></a> </font>
    </div>
  </div>
</div>
</div>